# Getting video ID using YouTube API

In [1]:
#Defining api key
api_key = "AIzaSyB772jx2iw2-0IB0Gxgq4Y2FwEbL0KlLH4"

In [34]:
from apiclient.discovery import build
import pandas as pd

In [3]:
youtube = build('youtube', 'v3', developerKey=api_key)

In [4]:
type(youtube)

googleapiclient.discovery.Resource

In [5]:
# limiting to 5 countries at a time because too many may cause errors with API connection
countrylist = ["Amsterdam","Barcelona","Berlin","Budapest","Copenhagen"]

In [6]:
type(countrylist)
idlist = []

In [7]:
#making search request by defining query we want to search
for country in countrylist:
    query = 'expedia'+country+'travel guide'
    req = youtube.search().list(part='snippet',q=query,type='video', maxResults=1)
    res = req.execute()
    idlist.append(res['items'][0]['id']['videoId'])

In [8]:
countrylist = ["Dublin","Edinburgh","Helsinki","Lisbon","Ljubljana"]

In [9]:
for country in countrylist:
    query = 'expedia '+country+' travel guide'
    req = youtube.search().list(part='snippet',q=query,type='video', maxResults=1)
    res = req.execute()
    idlist.append(res['items'][0]['id']['videoId'])

In [10]:
idlist = list( dict.fromkeys(idlist) )

In [11]:
countrylist = ["London","Oslo","Paris","Prague","Rome"]

In [12]:
for country in countrylist:
    query = 'expedia '+country+' travel guide'
    req = youtube.search().list(part='snippet',q=query,type='video', maxResults=1)
    res = req.execute()
    idlist.append(res['items'][0]['id']['videoId'])

In [13]:
idlist = list( dict.fromkeys(idlist) )

In [14]:
countrylist = ["Stockholm","Vienna","Warsaw","Zurich"]

In [15]:
for country in countrylist:
    query = 'expedia '+country+' travel guide'
    req = youtube.search().list(part='snippet',q=query,type='video', maxResults=1)
    res = req.execute()
    idlist.append(res['items'][0]['id']['videoId'])

In [156]:
#retrieved id for youtube vidoes for the relevant places we searched for from expedia
idlist = list( dict.fromkeys(idlist) )
idlist

['ey_L_VzPwEI',
 's1XoYkn3osE',
 'hVfBQNENS9s',
 'dZYpHr1wDmY',
 'Wu8M7uxNf7k',
 'LcKnx7I97yk',
 'zhtg9XgVwuM',
 'mPs_lCNRNDU',
 'N8bHCHl8X_0',
 'pbW6FqzQUnI',
 '45ETZ1xvHS0',
 'A3Yj3q0QRLM',
 'AQ6GmpMu5L8',
 'idg6vW3vXtE',
 'DEJx0CYrDHk',
 'llq8Rjm6wKc',
 'MRI8ffYKA8c',
 'esJ_l1b_Ni0',
 'Va5FKhbWuHw']

# Getting video details using Youtube API

In [44]:
#making a video request to extract details about the video
reqvid = youtube.videos().list(part='snippet', id="ey_L_VzPwEI,  s1XoYkn3osE,  hVfBQNENS9s,  dZYpHr1wDmY,  Wu8M7uxNf7k,  LcKnx7I97yk, zhtg9XgVwuM, mPs_lCNRNDU, N8bHCHl8X_0, pbW6FqzQUnI, 45ETZ1xvHS0, A3Yj3q0QRLM, AQ6GmpMu5L8, idg6vW3vXtE, DEJx0CYrDHk, llq8Rjm6wKc, MRI8ffYKA8c, esJ_l1b_Ni0, Va5FKhbWuHw")
resvid = reqvid.execute()

In [49]:
resvid['items'][18]['snippet']['title']
len(resvid['items'])

19

In [157]:
# adding retreived video title and description to pandas data frame called places

places = pd.DataFrame(columns=['vid.title','vid.desc'])

i=0

titleList = []

while i<19: 
    titleList.append(resvid['items'][i]['snippet']['title'])
    i+=1

titleList
places['vid.title']=titleList

j=0

descList = []
while j<19:
    descList.append(resvid['items'][j]['snippet']['description'])
    j+=1
    
places['vid.desc']=descList

places

,vid.title,vid.desc
0,Amsterdam Vacation Travel Guide | Expedia,Amsterdam – A city rich with heritage and ribb...
1,Barcelona Vacation Travel Guide | Expedia,Barcelona – dive into the Catalan creativity t...
2,Berlin Vacation Travel Guide | Expedia,Berlin – Germany’s capital city has had a long...
3,Budapest Vacation Travel Guide | Expedia,https://www.expedia.com/Budapest.d179994.Desti...
4,Copenhagen City Video Guide | Expedia,http://www.expedia.com.my/Copenhagen.d178252.T...
5,Dublin Vacation Travel Guide | Expedia,"Dublin – where history and heritage thrive, an..."
6,Edinburgh Vacation Travel Guide | Expedia,Edinburgh – The capital of Scotland and safely...
7,Helsinki Vacation Travel Guide | Expedia,Helsinki – Welcome to Finland’s thriving water...
8,Lisbon Vacation Travel Guide | Expedia,Lisbon – Welcome to the capital of Portugal. E...
9,Ljubljana Vacation Travel Guide | Expedia,Step into the narrow streets of the town cente...
10,London Vacation Travel Guide | Expedia,Catch a glimpse of the famous London town! Or ...
11,Oslo Vacation Travel Guide | Expedia,Oslo – Welcome to the capital of Norway. A vis...
12,Paris Vacation Travel Guide | Expedia,The City of Light glows as bright as ever as t...
13,Prague Vacation Travel Guide | Expedia,Prague – a city fit for a storybook. Let us sh...
14,Rome Vacation Travel Guide | Expedia,Rome – A city of staggering history and beauty...
15,Stockholm Vacation Travel Guide | Expedia,Stockholm – This city of islands welcomes you ...
16,Vienna Vacation Travel Guide | Expedia,"Vienna – the musical, cultural and historical ..."
17,Warsaw Vacation Travel Guide | Expedia,Warsaw – The capital of Poland stands today as...
18,Zurich Travel Guide,Our Zurich Travel Guide is brought to you by S...

# Getting place details using Google Places API

In [132]:
import googlemaps
import time

# new key to use new API google places
places_key = "AIzaSyAt42GkpgEZqPYG8p11ESrYk_r2Brd7PLg"

#creating object for googlemaps client
gmaps = googlemaps.Client(key = places_key, timeout=None, connect_timeout=None, read_timeout=None, retry_timeout=60, queries_per_second=100)

In [139]:
place_details

#creating list of area code for the areas in interest
cidList = ["ChIJVXealLU_xkcRja_At0z9AGY" ,"ChIJ5TCOcRaYpBIRCmZHTz37sEQ" ,"ChIJAVkDPzdOqEcRcDteW0YgIQQ" ,"ChIJyc_U0TTDQUcRYBEeDCnEAAQ" ,"ChIJIz2AXDxTUkYRuGeU5t1-3QQ" ,"ChIJL6wn6oAOZ0gRoHExl6nHAAo" ,"ChIJIyaYpQC4h0gRJxfnfHsU8mQ" ,"ChIJkQYhlscLkkYRY_fiO4S9Ts0" ,"ChIJO_PkYRozGQ0R0DaQ5L3rAAQ" ,"ChIJ0YaYlvUxZUcRIOw_ghz4AAQ" ,"ChIJdd4hrwug2EcRmSrV3Vo6llI" ,"ChIJOfBn8mFuQUYRmh4j019gkn4" ,"ChIJD7fiBh9u5kcRYJSMaMOCCwQ" ,"ChIJi3lwCZyTC0cRkEAWZg-vAAQ" ,"ChIJw0rXGxGKJRMRAIE4sppPCQM" ,"ChIJywtkGTF2X0YRZnedZ9MnDag" ,"ChIJn8o2UZ4HbUcRRluiUYrlwv0" ,"ChIJAZ-GmmbMHkcR_NPqiCq-8HI" ,"ChIJGaK-SZcLkEcRA9wf5_GNbuY"]

#defining lists to store the individual details we get from the api
countryName = []
maps_url = []
city_name = []

for cid in cidList:
    place_details = gmaps.place(place_id = cid, fields = ['name','url','adr_address'])
    countryName.append(place_details['result']['adr_address'].split("country-name")[1].split('>')[1].split('<')[0])
    maps_url.append(place_details['result']['url'])
    city_name.append(place_details['result']['name'])

In [140]:
countryName

['Netherlands',
 'Spain',
 'Germany',
 'Hungary',
 'Denmark',
 'Ireland',
 'UK',
 'Finland',
 'Portugal',
 'Slovenia',
 'UK',
 'Norway',
 'France',
 'Czechia',
 'Italy',
 'Sweden',
 'Austria',
 'Poland',
 'Switzerland']

In [141]:
maps_url

['https://maps.google.com/?q=Amsterdam,+Netherlands&ftid=0x47c63fb5949a7755:0x6600fd4cb7c0af8d',
 'https://maps.google.com/?q=Barcelona,+Spain&ftid=0x12a49816718e30e5:0x44b0fb3d4f47660a',
 'https://maps.google.com/?q=Berlin,+Germany&ftid=0x47a84e373f035901:0x42120465b5e3b70',
 'https://maps.google.com/?q=Budapest,+Hungary&ftid=0x4741c334d1d4cfc9:0x400c4290c1e1160',
 'https://maps.google.com/?q=Copenhagen,+Denmark&ftid=0x4652533c5c803d23:0x4dd7edde69467b8',
 'https://maps.google.com/?q=Dublin,+Ireland&ftid=0x48670e80ea27ac2f:0xa00c7a9973171a0',
 'https://maps.google.com/?q=Edinburgh,+UK&ftid=0x4887b800a5982623:0x64f2147b7ce71727',
 'https://maps.google.com/?q=Helsinki,+Finland&ftid=0x46920bc796210691:0xcd4ebd843be2f763',
 'https://maps.google.com/?q=Lisbon,+Portugal&ftid=0xd19331a61e4f33b:0x400ebbde49036d0',
 'https://maps.google.com/?q=Ljubljana,+Slovenia&ftid=0x476531f5969886d1:0x400f81c823fec20',
 'https://maps.google.com/?q=London,+UK&ftid=0x47d8a00baf21de75:0x52963a5addd52a99',
 'https://maps.google.com/?q=Oslo,+Norway&ftid=0x46416e61f267f039:0x7e92605fd3231e9a',
 'https://maps.google.com/?q=Paris,+France&ftid=0x47e66e1f06e2b70f:0x40b82c3688c9460',
 'https://maps.google.com/?q=Prague,+Czechia&ftid=0x470b939c0970798b:0x400af0f66164090',
 'https://maps.google.com/?q=Metropolitan+City+of+Rome,+Italy&ftid=0x13258a111bd74ac3:0x3094f9ab2388100',
 'https://maps.google.com/?q=Stockholm,+Sweden&ftid=0x465f763119640bcb:0xa80d27d3679d7766',
 'https://maps.google.com/?q=Vienna,+Austria&ftid=0x476d079e5136ca9f:0xfdc2e58a51a25b46',
 'https://maps.google.com/?q=Warsaw,+Poland&ftid=0x471ecc669a869f01:0x72f0be2a88ead3fc',
 'https://maps.google.com/?q=Z%C3%BCrich,+Switzerland&ftid=0x47900b9749bea219:0xe66e8df1e71fdc03']

In [144]:
city_name

['Amsterdam',
 'Barcelona',
 'Berlin',
 'Budapest',
 'Copenhagen',
 'Dublin',
 'Edinburgh',
 'Helsinki',
 'Lisbon',
 'Ljubljana',
 'London',
 'Oslo',
 'Paris',
 'Prague',
 'Metropolitan City of Rome',
 'Stockholm',
 'Vienna',
 'Warsaw',
 'Zürich']

In [160]:
#adding the new place details data into places dataframe defined earlier
places['place.name']=city_name
places['country']=countryName
places['maps.link']=maps_url
places['place.id']=places.index
places = places[['place.id','place.name','country','maps.link','vid.title','vid.desc']]

In [211]:
places.head()

,place.id,place.name,country,maps.link,vid.title,vid.desc
0,0,Amsterdam,Netherlands,"https://maps.google.com/?q=Amsterdam,+Netherla...",Amsterdam Vacation Travel Guide | Expedia,Amsterdam – A city rich with heritage and ribb...
1,1,Barcelona,Spain,"https://maps.google.com/?q=Barcelona,+Spain&ft...",Barcelona Vacation Travel Guide | Expedia,Barcelona – dive into the Catalan creativity t...
2,2,Berlin,Germany,"https://maps.google.com/?q=Berlin,+Germany&fti...",Berlin Vacation Travel Guide | Expedia,Berlin – Germany’s capital city has had a long...
3,3,Budapest,Hungary,"https://maps.google.com/?q=Budapest,+Hungary&f...",Budapest Vacation Travel Guide | Expedia,https://www.expedia.com/Budapest.d179994.Desti...
4,4,Copenhagen,Denmark,"https://maps.google.com/?q=Copenhagen,+Denmark...",Copenhagen City Video Guide | Expedia,http://www.expedia.com.my/Copenhagen.d178252.T...

# Getting Restaurant details by importing CSV file

In [201]:
restaurants = pd.read_csv("C:/Users/Arjun/Documents/NEU/DMDD/Assignment 1/restaurants_data.csv")
restaurants = restaurants[["restaurant.id","restaurant.name","restaurant.location","cuisine","rating","price.range"]]

In [202]:
restaurants['restaurant.location'].unique()

array(['Amsterdam', 'Barcelona', 'Berlin', 'Budapest', 'Copenhagen',
       'Dublin', 'Edinburgh', 'Helsinki', 'Lisbon', 'Ljubljana', 'London',
       'Oslo', 'Paris', 'Prague', 'Rome', 'Stockholm', 'Vienna', 'Warsaw',
       'Zurich'], dtype=object)

In [205]:
places['place.name'].unique()
#it can be seen that there is some inconsistency in the city name between the restaurants file and places data. 
#This may cause an issue when processing in the future

array(['Amsterdam', 'Barcelona', 'Berlin', 'Budapest', 'Copenhagen',
       'Dublin', 'Edinburgh', 'Helsinki', 'Lisbon', 'Ljubljana', 'London',
       'Oslo', 'Paris', 'Prague', 'Metropolitan City of Rome',
       'Stockholm', 'Vienna', 'Warsaw', 'Zürich'], dtype=object)

In [217]:
# Data validation step: Ensuring consistency
restaurants = restaurants.replace("Rome","Metropolitan City of Rome")
restaurants.sample(n=5)

,restaurant.id,restaurant.name,restaurant.location,cuisine,rating,price.range
50638,50638,Hot And Tasty Pizza,London,NaN,NaN,NaN
35904,35904,Bar Tozino,London,"['Spanish', 'Bar', 'Mediterranean', 'Pub', 'Wi...",4.5,$$ - $$$
72702,72702,Il Belli al Trionfale,Metropolitan City of Rome,"['Steakhouse', 'Italian', 'Mediterranean', 'Ba...",4.5,$$ - $$$
58599,58599,Le Zephyr,Paris,"['French', 'Bar', 'European']",3.0,$$ - $$$
16439,16439,Vietanh Fastfood,Berlin,"['Japanese', 'Fast Food', 'Sushi', 'Vietnamese']",4.5,NaN